.pageTitle{
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
}

.pageBox{
  display: inline-block;
  position: relative;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.originText{
  background-color: orange;
  float:left;
  width:25%;
}

.translatedText{
  background-color: orange;
  float:right;
  width:25%;
}
//
// .word{
// background-color: brown;
// }
//
// .example{
// background-color: purple;
// }
